<h1>Login</h1>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<%= render 'form' %>

<h1>Forgot Password?</h1>
<%= render 'forgot_password_form' %>

<%= link_to 'Back', user_sessions_path %>
